<%-include('../layoutAdmin/header.ejs') %>
    <%-include('../layoutAdmin/asideMenu.ejs') %>
    <main class="main-wrap">
        <%-include('../layoutAdmin/navigation.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Brands </h2>
                    <p>Add, edit or delete a Brand</p>
                </div>
                <p id="message"></p>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" action="/admin/brand/addBrand" id="categoryForm" enctype="multipart/form-data" >
                                <div class="mb-4">
                                    <label  class="form-label">Name</label>
                                    <input type="text" id="nameInput" placeholder="Type here" class="form-control" name="name" />
                                </div>
                                <div class="mb-4">
                                    <label  class="form-label">Slug</label>
                                    <input type="text" id="slugInput" placeholder="Type here" class="form-control" name="slug" />
                                </div>
                                
                                <div class="mb-4">
                                    <label class="form-label">Upload Image</label>
                                    <input type="file" name="brand-image" id="brand-image">
                                    <!-- <textarea id="descriptionInput" placeholder="Type here" name="description" class="form-control"></textarea> -->
                                </div>
                                <% if (success_msg) { %>
                                    <div style="color: green;"><%= success_msg %></div>
                                <% } %>
                                <% if (error_msg) { %>
                                    <div id="error_msg" style="color: red;"><%= error_msg %></div>
                                <% } %>
                                
                                <div class="d-grid">
                                    <button class="btn btn-primary" id="createBrand" type="submit">Add Brand</button>
                                    <!-- <button class="btn btn-primary d-none " id="editBrand" type="button"  >Edit Brand</button> -->

                                </div>
                            </form>
                        </div>
                        
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        
       <%-include('../layoutAdmin/footer.ejs') %>